:root {
  --primary-red: hsl(1, 90%, 64%);
  --primary-blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --secondary-very-light: hsl(210, 60%, 98%);
  --secondary-light-1: hsl(211, 68%, 94%);
  --secondary-light-2: hsl(205, 33%, 90%);
  --secondary-grayish-blue: hsl(219, 14%, 63%);
  --secondary-dark: hsl(219, 12%, 42%);
  --secondary-very-dark: hsl(224, 21%, 14%)
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}

body {
  font-size: 16px;
  font-family: 'Plus Jakarta Sans', sans-serif;

  width: 90%;
  max-width: 600px;
  margin: 1rem auto;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1.5rem;
}

header span:nth-child(1) {
  display: flex;
  align-items: center;
  gap: .5rem;
}

header>span:nth-child(2) {
  font-weight: 400;
  font-size: .9rem;
}

header>span:nth-child(2):hover {
  cursor: pointer;
  color: var(--secondary-dark)
}

header span span:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 800;
}

header span span:nth-child(2) {
  border-radius: .5rem;
  background-color: var(--primary-blue);
  padding: .2rem .8rem;
  color: var(--white);
  font-weight: 800;
}

.notification {
  display: flex;
  border-radius: .5rem;
  padding: .75rem 1rem;
  gap: 1rem;
  margin-block-start: .75rem;
  /* min-height: 54px; */
  align-items: flex-start;
}

.notification span {
  font-size: .9rem;
  font-weight: 400;
  color: var(--secondary-grayish-blue)
}

.notification img {
  height: 2.5rem;
  display: inline;
  vertical-align: middle;
}

.notification h3 {
  font-size: .85rem;
  font-weight: 400;
  margin-block-start: 0;
  margin-block-end: 0;
}

.notification h3 .notification_username {
  font-weight: 800;
  color: #000;
  cursor: pointer;
}

.notification h3 .notification_username:hover {
  color: var(--primary-blue);
}

.notification h3 .notification_text {
  font-weight: 800;
  color: var(--secondary-dark);
  margin-inline-start: .3rem;
  cursor: pointer;
}

.notification h3 .notification_text:hover {
  color: var(--primary-blue);
}

.notification h3 .offline {
  border-radius: 50%;
  background-color: red;
  width: .5rem;
  display: inline-flex;
  height: .5rem;
  align-items: center;
  margin-inline-start: .3rem;
}

.notification h3 .your_group_name {
  font-weight: 800;
  color: var(--primary-blue);
  cursor: pointer;
}

/* .notification h3 .your_group_name:hover {
  color: var(--primary-blue);
} */

.notification div {
  width: 100%;
}

.notification div span {
  margin-block-end: .4rem;
}

.notification .notification_message {
  border: 1px solid var(--secondary-light-2);
  padding: .6rem;
  font-weight: 400;
  font-size: .9rem;
  color: var(--secondary-dark);
  margin-block-start: .5rem;
  border-radius: .5rem;
  cursor: pointer;
}

.notification .notification_message:hover {
  color: var(--primary-blue);
}

.notification .my_image {
  border-radius: 1px;
  cursor: pointer;
  padding: 0;
}

.notification .my_image:hover {
  color: var(--primary-blue);
}

.image {
  padding: .75rem 0 .75rem 1rem;
}

.unread {
  background-color: var(--secondary-very-light);
}